# your slack bot tokens, pretty self explanatory
# needed for essentially everything. go use the manifest.json if it exists
BSLACK_APP_TOKEN= # begins with xapp
BSLACK_TOKEN= # beginss with xoxb

# extra slack stuff needed for oauth stuff
# most of these are in the Basic Information section of your app settings
BSLACK_CLIENT_SECRET= 
BSLACK_CLIENT_ID= 
BSLACK_APP_ID= 
BSLACK_SIGNING_SECRET= 
BSLACK_STATE_SECRET= # any random long string i think

# public oauth stuff
PUBLIC_URL= # self explanatory
PORT= # local port your app is running on

# YOUR slack tokens, needed for checking channel manager permissions
SLACK_XOXC= # there isnt a easy way to do this. follow https://slack.green/en/docs/add-workspace-manual#:~:text=3-,Get%20the%20xoxc%20token,-Open%20Chrome%20DevTools
SLACK_XOXD= # you can use the above guide linked or get the d cookie 

# Hack Club CDN API key, needed for uploading stuff
HC_CDN_API_KEY= # get one at https://cdn.hackclub.com/api_keys

# Supabase stuff ik that its kinda shitty but idc go vibe code it
SUPABASE_SERVICE_ROLE_KEY= # get this one from ur project -> settings -> API keys -> legacy anon keys 
SUPABASE_URL= # get this one from ur project -> settings -> Data API -> API URL and get rid of the /rest/v1 at the end

# Optional
FFA_CHANNEL= # channel where everyone can use the bot